
<dl class = "suggestion">
    <dt><a class= "suggestion-title" href="{{suggestion.url}}">{{ suggestion.title }} </a></dt>
    <dd><a class= "suggestion-description" href="{{suggestion.url}}">{{ suggestion.description }} </a></dd>
</dl>