body {
    background-color: #1882c9;
    padding-top: 20px;
}
.browse-wiki{
    font-size: 24px;
    height: 100%;
   }
.search-box{ 
    margin: auto;
    width: 90%;
}
input{   
    height: 60px;
    border: none;
    color: #1369A2;
    background-color: #fdfdfd; 
    font-size: 20px;    
    text-indent: 46px; 
    width: 100%;
}
.wikipedia-icon{
    position: relative;
    top: 42px;
    left: 10px;
    font-size: 24px !important;
    color: black;
}
.suggestions-list{
    border: 1px solid;
    border-color: #5a707f; 
    background-color: #fdfdfd;
    color: #1369A2;
}
.list-unstyled{
    -webkit-margin-before: 0.8em;
    -webkit-margin-after: 0.8em;
    -webkit-padding-start: 15px;
}
dl:hover{
    background-color: e0e0e0;
    border: 1px darkgray !important;
    padding:1px;
    cursor: pointer;
}
.suggestion{
    margin-right: 17px;
}
.suggestion-title{
    color: #566c7a;
    text-decoration: none; 
    font-size: 18px;
    font-weight: bold;
}
.suggestion-description{
    color: #0f527f;
    text-decoration: none;
    font-size: 18px;
}

