<div class="search-box">
    <i class="fa fa-wikipedia-w wikipedia-icon" aria-hidden="true"></i>
    <input [ngFormControl]="term"/>
    <template [ngIf]="suggestions.length > 0">
        <suggestion-list [suggestions]="suggestions"> </suggestion-list>
    </template>
</div>